/* เลื่อนสไลด์------------------------------ */
.carousel-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-track-wrapper {
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  margin-bottom: 10vh;
  box-sizing: border-box;
  position: relative;
  height: 90vh; /* ความสูงคงที่ของสไลด์ */
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: zoom-in;
  user-select: none;
  -webkit-user-drag: none;
}

.obj-left{
  object-position: center 20%;
}
.obj-right{
  object-position: 40% 10%;
}

.Palatecolour-img{
  object-position: center left;
}

.tanabata-img{
  object-position: 50% 40%;
}
.caption {
  position: absolute;
  bottom: 15px;
  left: 20px;

  padding: 5px 10px;
  border-radius: 5px;

  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.6;

  transition: opacity 0.3s;
}

.carousel-slide:hover .caption {
  opacity: 1;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(200, 186, 186, 0.269);
  color: white;
  border: none;
  font-size: 30px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}

/* ปรับให้เข้ากับมือถือ */

@media (max-width: 600px) {
  .slide {
    height: 60vh;  /* ปรับความสูงให้เหมาะกับมือถือ */
  }

  .carousel-slide {
    border-width: 1px; /* ลดความหนาขอบ */
  }
}
@media (max-width: 789px) {
  .tanabata-img{
    object-position: 70% 20%;
  }
}

.carousel-track {
  touch-action: pan-y;
  user-select: none;
}

/* กล่อง overlay */
#imageOverlay {
  position: fixed;
  top: 0;
  cursor: zoom-out;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.748);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
}

/* รูปขยาย */
#fullImage {
  cursor: zoom-out;
  max-width: 90vw;
  max-height: 80vh;
}

/* คำบรรยาย */
#caption {
  color: white;
  font-size: 18px;
  font-family: sarabun;
  font-weight: 200;
  text-align: center;
  max-width: 90vw;
  padding: 8px 12px;
  line-height: 1.6;
}

/* PROFILE-------------------------- */
.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.profile-container {
  display: flex;
  justify-content: center;   
  align-items: center;
  margin: 2rem;
}

.proflie-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.665));
}

.introduce-container {
  justify-content: center;   /* จัดกลางแนวนอน */
  align-items: center;       /* จัดกลางแนวตั้ง */
  text-align: center; /* จัดกลางแนวนอน */
  margin: 0.8rem;
}

.introduce-summery ,.introduce-detail{
  font-family: sarabun;
  line-height: 1.6;
  font-weight: 200;
}

.introduce-summery{
  font-size: 2vh;
  padding: 1rem;
  margin: 0 2rem;
  color: #ecfff0;
}

.introduce-detail{
  font-size: 1.8vh;
  color: hsl(107, 61%, 94%);
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #3939379d;

}

.display-name {
  font-size: 48px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fdffba;
  margin: 0%;
  text-shadow: 4px 4px 4px #0000008b; /* เงานิดหน่อยให้ดูนุ่ม */
}
.nickname-lable {
  font-size: 20px;
  color: #b0c472;
  margin: 10px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* เงานิดหน่อยให้ดูนุ่ม */
}


.introduce-sub-text {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 200;
  color: #b1ce58;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* เงานิดหน่อยให้ดูนุ่ม */
}
.marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* สำหรับหน้าจอกว้าง */
@media screen and (min-width: 992px) {
  .profile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    max-width: 1200px; /* หรือ 1200px ตามที่ดูสวย */
    margin: 0 auto; /* จัดให้อยู่กลางหน้าจอ */
  }

  .profile-container {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
  }

  .introduce-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* ให้ข้อความชิดซ้าย */
    text-align: left;
    justify-content: flex-start;
  }

  .introduce-detail {
    max-width: 600px;
    width: 100%;
    margin: 1rem 0;
  }

  .proflie-image{
    max-width: 300px;
  }
}
/* -------------- */
.option{
  margin-top: 4rem;
}
.cms{
  width: auto;
  height: auto;
  border: 2px solid #faffcb;
  color: #d0f404;
  border-radius: 1rem;
  display: flex;
  margin: 1.3rem 1rem;
  justify-content: space-between;
  padding: 0.7rem 1.5rem;
  align-items: center;
  gap: 3rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.cms h3{
  text-decoration: none;
  font-family: kanit;
  color: #bced0b;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  letter-spacing: 1.5px;
  color: #64ddea;
}

.cms p{
  margin: 0;
  padding: 0;
}
.cms i{
  font-size: 1.5rem;
}

.cms:hover{
  transform: translateY(-5px);
  background-color: #a3ff1930;
}

.artwork {color: #8291f6;}
.artwork h3 {color: #ef7ae7;}
.oc{ color: #f99f04;}
.oc h3{ color: #38ff49;}
@media (min-width: 900px){
  .cms{
    padding: 1rem 3rem;
    gap: 7rem;
    max-width: 1000px;
    margin: 1.3rem auto;
  }
    .cms h3{
          font-size: 2rem;
    }
    .cms p{
      font-size: 1.2rem;
    }
  .cms i{
  font-size: 2.5rem;
}

}
/* lemon lord -----------------------------------------------------*/
.content2 {
  max-width: 800px;
  padding: 3.5vw;
  margin: auto;
  margin-bottom: 4rem;
}

.Lemonlord-container {
  display: flex;
  padding: 1rem;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  background-color: rgb(192, 250, 142);
  border-radius: 2rem;
  filter: drop-shadow(0 8px 15px rgba(128, 247, 124, 0.665));
  text-align: center;
}

.thunder {
  position: absolute;
  top: 0;
  left: -50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 999;
  opacity: 50%;
  pointer-events: none;
}

.lemonimg {
  position: relative;
  width: 100%;
}

.lemonlordcover {
  width: 100%;
  transition: transform 0.2s ease-in-out;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 1rem;
  filter: drop-shadow(0 8px 15px rgba(61, 133, 104, 0.665));
}

.lemonlordcover:hover {
transform: rotate3d(1, 1, 1, 20deg);
}

.tantan {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 25%;
  border-radius: 50%;
  border: 4px solid #eef4d1;
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  transition: transform 0.6s ease; /* เพิ่ม transition */
}

@keyframes rotateOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tantan:hover {
  animation: rotateOnce 0.6s ease;
}

.lemonlord-text{
  margin-top: 1rem;
  text-align: center;
}
.lemonlord-text span{
  display: inline-block;
  color: #082208;
  font-size: 2rem;
  font-family: sarabun;
  font-weight: 900;
}
.lemonlord-text p {
  color: #0a3e0a;
  font-family: sarabun;
  text-decoration: none;
  font-size: 20px;
} 
.lemonlord-text a {
  display: inline-block;
  text-decoration: none;
  color: #0a3e0a;
  font-size: 2.5rem;
  font-family: sarabun;
  font-weight: 900;
  margin: auto;
}
.lemonlord-text a:hover {
  color: #ffffff;
}
@media screen and (min-width: 992px) {
  .content2{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
/* content 3-4 stickerline -----------------------------------------------------*/
.stickerline{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content3,.content4{
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
  align-items: center;
}

.content3-container , .content4-container{
  display: flex;
  padding: 17pt;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  border-radius: 2rem;
  filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.665));
  text-align: center; 
}

.content3-container{
    background-color: #ecf2d4;
    border-style: double;
    border-width: 10px;
    border-color: #2b6188;
}

.content4-container{
    background-color: #ecf2d4;
    border-style: double;
    border-width: 10px;
    border-color: #a3602c;
}

.stickerline-Hommie img , .stickerline-elephantdog img {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  transition: transform 0.2s ease-in-out;
  filter: drop-shadow(0 5px 5px rgba(74, 62, 35, 0.561));
  border-radius: 1rem;
  object-fit: cover;
}

.content3-container img:hover,.content4-container img:hover {
 transform: scale(1.02);
}

.stickerline-Hommie {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.stickerline-text {
  color: #082208;
  font-family: sarabun;
}

.stickerline-text h2{
  font-size: 2rem;
}

.stickerline-text button {
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  color: #ffffff;
  margin-top: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: sarabun;
  font-weight: 400;
  display: inline-block;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.stickerline-Hommie .stickerline-text button{
  background-color:rgb(202, 122, 122); /* Green */
  border-color: #5a0e0e;
}

.stickerline-elephantdog .stickerline-text button{
  background-color: #b0c472;
  border-color: #0e5a2e;
}
.stickerline-Hommie .stickerline-text button:hover{
  background-color: #b0c472;
  border-color: #0e5a2e;
  transform: scale(1.03);
}
.stickerline-elephantdog .stickerline-text button:hover{
  background-color:rgb(202, 122, 122); /* Green */
  border-color: #5a0e0e;
  transform: scale(1.03);
}

@media screen and (min-width: 992px) {
  .stickerline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1px;
    max-width: 1200px; /* หรือ 1200px ตามที่ดูสวย */
    margin: 0 auto; /* จัดให้อยู่กลางหน้าจอ */
  }

  .content3 {
    flex: 1;
    padding-right: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 0;
    margin-top: 0;
  }

  .content4 {
    flex: 1;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* ให้ข้อความชิดซ้าย */
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 0;
  }
  }
