@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: sarabun;
  background-color: rgb(21, 28, 26);
}

.notice{
  font-family: kanit;
  font-size: 1.8rem;
  background-color: #333;
  padding: 2rem;
  color: #f2ff00cc;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    font-size: 14px; /* ลดขนาดตัวอักษร */
  }
}

.emoji {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

/* แถบนำทาง */
    .container {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      position: relative;
    }

    /* Navigation */
    nav {
      background-color: #ecf2d4;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.296);
      
    }

    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 10px 30px;
    }

    .nav-wrapper .logo a { 
      font-size: xx-large;
      color: rgb(72, 7, 12);
      text-decoration: none;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
    }

    .menu {
      display: flex;
      list-style: none;
      gap: 2vw;
    }


    .menu li a {
      color: rgb(72, 7, 12);
      text-decoration: none;
    }

    .menu a,
    .logo a,
    .dropbtn {
      transition: transform 0.2s ease-in-out;
      display: inline-block;
    }

    .menu a:hover,
    .logo a:hover,
    .dropbtn:hover {
      transform: scale(1.1);
    }

    /* Hamburger Menu */
    .ham-menu {
      display: none;
      cursor: pointer;
      position: absolute;
      right: 1rem;
    }

    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: rgb(72, 7, 12); 
      margin: 6px 0;
      transition: 0.4s;
      border-radius: 2px;
    }

    /* หมุนเส้นเพื่อเปลี่ยนเป็นกากบาท */
    .change .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      transform: translate(0, -11px) rotate(45deg);
    }

    /* เมนูแสดงบนมือถือ */
@media (max-width: 600px) {
  .ham-menu {
    display: inline-block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    background-color: #dbe6b0;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    opacity: 0;
  }

  .menu.active {
    max-height: 300px;
    opacity: 1;
  }

  .menu li {
    text-align: left;
  }

  .menu li a {
    display: block;
    padding: 16px 50px;
    font-size: 18px;
    color: rgb(72, 7, 12);
    text-decoration: none;
  }

  .green-nav{
    background-color: #dbe6b0;
  }

  .menu li a:hover {
    background-color: #7b9220;
    color: white;
    border-radius: 4px;
  }

  .nav-wrapper {
    padding: 10px 30px;
    height: 66px;
  }
}
/* ลิงค์โซเซียล -----------------------------------------------------*/
.social-links {
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links a {
  font-size: 28px;
  color: #a3602c;
  transition: color 0.3s ease;
  margin-bottom: 1%;
}

.social-links a:hover {
  color: #eef4d1; /* สีตอน hover */
}